* {
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  word-break: keep-all;
  letter-spacing: .02em;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100%;
  margin: 0 auto -135px;
  /* the bottom margin is the negative value of the footer's height */
}

.hidden {
  display: none !important;
  visibility: hidden;
}

* a {
  text-decoration: none;
}
/*--------------- TYPOGRAPHY -------------
-----------------------------------------------*/

@font-face {
  font-family: 'Brandon-Grotesk';
  src: url(../font/brandon-grotesk/brandon_reg.woff);
  /* url("file://localhost/Users/MattJones/Google%20Drive/mscottjones_4/assets/font/brandon-grotesk/brandon_reg.woff"); */

  font-weight: normal;
}

h1 {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 40px;
  font-size: 1.4em;
}

h1 > span {
  letter-spacing: 0 !important;
}

h1.subtitle {
  font-family: "proxima-nova", sans-serif;
  color: #959595;
  font-weight: normal;
  font-size: .85em;
  letter-spacing: 3px;
  margin-right: -3px;
  text-transform: none;
}

h2 {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 8px;
  font-size: 1.15em;
}

.left-align {
  text-align: left;
}

h3 {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 4px;
  font-size: .8em;
}

p {
  font-family: 'proxima-nova', sans-serif;
  font-size: .8em;
  letter-spacing: .05em;
  line-height: 160%;
  color: #767676;
}

p.center {
  text-align: center
}
/*--------------- TYPOGRAPHY -------------
-----------------------------------------------*/
/*------------- RESPONSIVE IMAGES -------------
-----------------------------------------------*/

img {
  width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  /* Fixes slight shift of image on hover */
}
/*------------- RESPONSIVE IMAGES -------------
-----------------------------------------------*/
/*---------  COLUMN+GRID STRUCTURE  -------------
-------------------------------------------*/

.row {
  padding: 0;
  margin-bottom: 1%;
  display: block;
}

.one-col {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.two-col {
  margin-right: 2%;
  width: 49%;
  height: auto;
  float: left;
}

.two-col:last-child {
  margin-right: 0;
}

.three-col {
  margin-right: 2%;
  width: 32%;
  float: left;
}

.three-col:last-child {
  margin-right: 0;
}

.four-col {
  margin-right: 2%;
  width: 23%;
  float: left;
}

.four-col:last-child {
  margin-right: 0;
}

.five-col {
  margin-right: 2%;
  width: 18%;
  float: left;
}

.five-col:last-child {
  margin-right: 0;
}
/*---------  COLUMN+GRID STRUCTURE  -------------
-------------------------------------------*/
/*---------------  BUTTONS  ----------------
-------------------------------------------*/

.button {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 0.2em;
  font-size: .65em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 40px;
  background: transparent;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.button:hover {
  transition: .5s;
  cursor: pointer;
}

.button.black {
  color: #000;
  border: solid 2px #000;
  cursor: pointer;
}

.button.black:hover {
  color: #fff;
  background: #000;
  cursor: pointer;
}

.button.white {
  color: #fff;
  border: solid 2px #fff;
}

.button.white:hover {
  color: #000;
  background: #fff;
}

.center {
  display: block;
  margin: 0 auto;
}
/*---------------  BUTTONS  ----------------
-------------------------------------------*/
/*--------------- NAVIGATION -------------
-----------------------------------------------*/

.site-header {
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: auto;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 0 auto;
  border-bottom: none;
  /* Transitions Background */

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav {
  width: 601px;
  display: block;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  float: left;
  margin-left: 35px;
}

nav a {
  padding-top: 10px;
  padding-bottom: 8px;
  font-family: "proxima-nova", sans-serif;
  color: #8d8d8d;
  letter-spacing: 0.25em;
  font-size: .56em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 200%;
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
  transition: .5s;
}

.sticky,
.dark {
  padding-top: 4px;
  padding-bottom: 3px;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #1e1e1e;
  /* Transitions Background */

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sticky-expand {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  /* Transitions Size */

  -webkit-transition: all .36s;
  -moz-transition: all .36s;
  -o-transition: all .36s;
  transition: all .36s;
}

.sticky-expand nav a {
  color: #b1b1b1;
  transition: .5s;
}

nav a:hover {
  color: #fff;
  transition: .5s;
}
/*--------------- END NAVIGATION -------------
-----------------------------------------------*/
/*---------------- TOP INTRO -------------
-----------------------------------------------*/

.intro {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/home-page-img/woods-2000px.jpg);
  /* Placeholder for image */

  background-color: #131313;
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
}

.home-intro-inside {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.intro-symbol {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 25%;
  opacity: .6;
  display: block;
}
/*-------- CONTENT WRAPPER ---------------------
-------------------------------------------*/

.wrapper {
  height: 100%;
}

.space {
  /* This pushes down the main content to reveal the background img */

  z-index: auto;
  height: 100%;
  background: transparent;
  display: block;
}

.angle {
  background-image: url(../imgs/angle-shape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  z-index: 100;
}

.skew-container {
  z-index: 30;
  width: 100%;
  padding-top: 35px;
  margin-top: 0;
  overflow: hidden;
  height: 56px;
  background-color: transparent;
}

.skew-obj {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  /* IE 9 */

  -webkit-transform: skewY(2.5deg);
  /* Chrome, Safari, Opera */
}

.skew-obj.black {
  background-color: #131313;
}

.flip-horiz {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.site-content {
  /* Creates paralax effect and contains all content */

  z-index: 30;
  padding: 0;
  background: transparent;
  position: relative;
}
/*-------- END CONENT WRAPPER ---------------------
-------------------------------------------*/
/*-------- SITE CONTENT SECTIONS ---------------------
-------------------------------------------*/

#about {
  background: #ffffff;
  padding: 140px 20px 0 20px;
  border-bottom: 1px solid #f2f2f2;
}

#about .content {
  margin: 70px auto 90px auto;
  padding: 0 20px;
  max-width: 850px;
  text-align: left;
}

.social-icons {
  margin: 70px auto 150px auto;
  width: 125px;
}

blockquote {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 3px;
  font-size: 1em;
}

.credit {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 3px;
  font-size: .65em;
}

.social-icons img {
  width: 50px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons img.social-icon-active {
  opacity: 0;
  z-index: 50;
  display: block;
  position: absolute;
}

.social-icons img:hover {
  opacity: 1;
  z-index: 20;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*-----------------------------------------------------*/

#what-i-do {
  background: #ffffff;
  padding: 175px 20px;
}

#what-i-do .content {
  margin: 50px auto 20px auto;
  padding: 0 20px;
  max-width: 850px;
}

.what-i-do-icon {
  width: 60px;
  margin: 0 auto;
  text-align: center;
  opacity: .8;
}
/*-----------------------------------------------------*/

#portfolio {
  background: #ffffff;
  margin: 0 auto;
}

#portfolio .content {
  margin: 70px auto 90px auto;
  padding: 0 20px;
  max-width: 650px;
  text-align: center;
}

#portfolio-imgs ul li {
  margin-right: .6%;
  margin-bottom: .6%;
  width: 32.93%;
  float: left;
  display: block;
  overflow: hidden;
}

#portfolio-imgs ul li:nth-child(3) {
  margin-right: 0;
}

#portfolio-imgs ul li:last-child {
  margin-right: 0;
}

#tab3 > ul:nth-child(3) > li:nth-child(4) {
  margin-left: .6%;
  margin-right: 0;
}

.work-item > a {
  display: block;
  padding: 0 0 0 0;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.work-img {
  position: relative;
  overflow: hidden;
}

.work-img img {
  width: 100%;
  display: block;
}

.work-intro {
  width: 100%;
  height: 84px;
  padding: 20px 20px 0 20px;
  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: -100px;
  left: 0;
  text-align: center;
  overflow: hidden;
}

.work-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2em;
}

.work-title h3 {
  font-size: .9em;
}

.works-grid.hide-titles .work-item > a {
  overflow: hidden;
  padding: 0;
}

.works-grid.hide-titles .work-item .work-intro {
  opacity: 0;
  bottom: -94px;
}

.works-grid.hide-titles .work-item:hover .work-intro {
  opacity: 1;
}
/* Work item hover state */

.work-intro {
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.work-item:hover .work-intro {
  /*bottom: auto;*/
  /*top: 50%;*/

  color: #fff;
  -webkit-transform: translateY(-99px);
  -moz-transform: translateY(-99px);
  transform: translateY(-99px);
  z-index: 3;
}

.work-item:hover .work-title {
  color: #ccc;
}

.work-item .work-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0);
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.work-item:hover .work-img:after {
  background: rgba(255, 255, 255, 0.7);
}

.works-grid.hover-color .work-item:hover .work-intro,
.works-grid.hover-color .work-item:hover .work-title,
.works-grid.hover-color .work-item:hover .work-descr {
  color: #fff;
}

.works-grid.hover-color .work-item:hover .work-img:after {
  background: #e41919;
  opacity: 1;
}

.works-grid.hover-white .work-item:hover .work-intro,
.works-grid.hover-white .work-item:hover .work-title,
.works-grid.hover-white .work-item:hover .work-descr {
  color: #000;
}

.works-grid.hover-white .work-item:hover .work-img:after {
  background: rgba(250, 250, 250, .9);
}

.work-item .work-img > img {
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.work-item:hover .work-img > img {
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
/*-----------------------------------------------------*/
/*----- Tabs -----*/

.tabs {
  margin: 0 auto;
}
/*----- Tab Links -----*/
/* Clearfix */

.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

ul.tab-links {
  width: 231px;
  /* Change back to 407px */

  margin: 0 auto 30px;
}

.tab-links-sticky {
  width: 398px;
  margin: 0 auto;
  height: 50px;
  z-index: 150;
  top: 28px;
  position: fixed;
  background-color: #f4f4f4;
}

.tab-links li,
.tab-links-sticky li {
  margin: 0px 30px;
  float: left;
  list-style: none;
  text-align: center;
}

.tab-links a,
.tab-links-sticky a {
  padding: 9px 0 0px 0;
  display: inline-block;
  font-size: .75em;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.tab-links a:hover,
.tab-links-sticky a:hover {
  color: #6f6f6f;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

li.active a,
li.active a:hover {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
/*----- Content of Tabs -----*/

.tab-content {}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
/*-----------------------------------------------------*/
/*--- HOVER LABELS ---*/
/*-------- LIKE MY CREATIVE WORKS? ---------------------
-------------------------------------------*/

#like-me {
  padding: 50px 0 40px 0;
  margin-bottom: 0;
  height: 100px;
  background-color: #131313;
  color: #ffffff;
}

#like-me h2 {
  color: #ffffff;
}

#like-me .like-me-content {
  width: 560px;
  margin: 0 auto 80px auto;
}

#like-me .button {
  max-width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/*-------- LIKE MY CREATIVE WORKS? ---------------------
-------------------------------------------*/

#why {
  background: #ffffff;
  padding: 200px 20px 175px 20px;
  margin: 0 auto;
}

#why .content {
  margin: 70px auto 0 auto;
  padding: 0 20px;
  max-width: 950px;
}

#why .row:last-child {
  margin-top: 0;
}

#why .three-col {
  height: 200px;
  width: 28.3%;
  float: left;
  margin: 0 2.5% 20px 2.5%;
}

#why .three-col:last-child {
  margin-right: 0;
}

#why img {
  margin: 0 auto;
  width: 70px;
}

#why p {
  text-align: center;
}
/*-------- LIKE MY CREATIVE WORKS? ---------------------
-------------------------------------------*/

#brands {
  padding: 175px 0 175px 0;
  background-color: #f8f8f8;
}

#brands .content {
  margin: 80px auto 0 auto;
  max-width: 1000px;
}

#brands > div .three-col {
  width: 33.3%;
  height: 150px;
  margin: 0;
}

#brands img {
  opacity: .4;
  position: relative;
  top: 50%;
  height: 108px;
  margin-top: -50px;
  /* Half the height */

  margin-right: auto;
  margin-left: auto;
  /* Half the width */
}
/*-------- LIKE MY CREATIVE WORKS? ---------------------
-------------------------------------------*/
/*-------- CONTACT ME -- CONTACT FORM ----------
-------------------------------------------*/

#contact {
  padding: 175px 0 50px 0;
  background: #ffffff;
}

#contact-form {
  max-width: 800px;
  padding: 0 20px;
}

#contact-form h2 {
  margin-bottom: 80px;
}

#contact-form h3 {
  margin-top: 9px;
  margin-bottom: 0;
  text-align: left;
}

#contact-form > p {
  color: #b9b9b9;
  margin-bottom: 20px;
}

#contact-info {
  margin-bottom: 80px;
}

#contact-info #phone-number {
  width: 32%;
}

#contact-info #address-info {
  width: 35%;
}

#contact-info #email-info {
  width: 25%;
  float: right;
}

#contact-info img {
  padding-bottom: 30px;
  margin-right: 15px;
  width: 40px;
  float: left;
}

#contact-info a {
  color: #767676;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: #acacac solid 1px;
  transition: .5s;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
	cursor: pointer !important;
}

#contact-info a:hover {
  color: #000;
  border-bottom: #000000 solid 1px;
  transition: .5s;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
	cursor: pointer !important;
}

form {
  margin: 0 auto;
}

input {
  margin-right: 13px;
  font-size: .8em;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  height: 20px;
  display: block;
  border: solid 1px #8E8E8E;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0px !important;
  -webkit-appearance: none !important;
}

.left {
  float: left;
  width: 43%;
  margin-right: 4.5%;
}

.right {
  float: left;
  width: 49.5%;
  margin-right: 2%;
}

.email {
  margin-top: 15px;
}

input::-webkit-input-placeholder {
  padding-left: 0;
  color: #8E8E8E;
  letter-spacing: 3px;
  font-size: .8em;
  line-height: 24px;
  text-transform: uppercase;
}

input::-moz-placeholder {
  padding-left: 0;
  color: #8E8E8E;
  line-height: 20px;
  letter-spacing: 3px;
  font-size: .8em;
  text-transform: uppercase;
}

input:-ms-input-placeholder {
  padding-left: 0;
  color: #8E8E8E;
  line-height: 24px;
  letter-spacing: 3px;
  font-size: .8em;
  text-transform: uppercase;
}

textarea {
  margin: 15px 0 0;
  font-size: .8em;
  font-family: "proxima-nova", sans-serif;
  color: #000000;
  padding: 10px;
  width: 100%;
  height: 77px;
  border: solid 1px #8E8E8E;
  -webkit-border-radius: 0px !important;
  -webkit-appearance: none !important;
}

textarea::-webkit-input-placeholder {
  padding-left: 0;
  color: #8E8E8E;
  letter-spacing: 3px;
  font-size: .8em;
  text-transform: uppercase;
}

textarea::-moz-placeholder {
  padding-left: 0;
  font-size: .8em;
  text-transform: uppercase;
}

textarea:-ms-input-placeholder {
  padding-left: 0;
  font-size: .8em;
  text-transform: uppercase;
}

.sendButton {
  width: 200px;
  margin-top: 10px;
  margin-right: 0;
  padding: 15px 0;
  font-family: "proxima-nova", sans-serif;
  color: #fff;
  letter-spacing: 0.2em;
  font-size: .65em;
  line-height: 0;
  text-transform: uppercase;
  font-weight: normal;
  float: right;
  background: #000;
  border: solid 2px #000;
  transition: .5s;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.sendButton:hover {
  color: #000;
  background: #fff;
  transition: .5s;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

#success {
  padding: 35% 20px 0;
}

#success h1 {
  color: #000000;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

#success h2 {
  margin-bottom: 50px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 3px;
}

#success .button {
  display: block;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
/*-------- CONTACT ME -- CONTACT FORM ----------
-------------------------------------------*/
/*--------------- FOOTER -------------
-----------------------------------------------*/

footer {
  position: absolute;
  padding-top: 35px;
  width: 100%;
  height: 100px;
  background-color: #f4f4f4;
}

.push {
  height: 100px;
  /* '.push' must be the same height as 'footer' */
}

footer p {
  font-family: 'Brandon-Grotesk', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  letter-spacing: 3px;
  font-size: .6em;
  display: block;
}

footer img {
  background-color: #f4f4f4;
  margin: 0 auto 20px auto;
  opacity: .6;
  width: 40px;
  display: block;
}
/*--------------- FOOTER -------------
-----------------------------------------------*/
/*--------------- BACK TO TOP BUTTON -------------
-----------------------------------------------*/
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

.cd-container::after {
  /* clearfix */

  content: '';
  display: table;
  clear: both;
}
/* --------------------------------

Main components

-------------------------------- */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  z-index: 2000;
  position: fixed;
  bottom: 0;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */

  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-top: solid #ffffff 1px;
  border-left: solid #ffffff 1px;
  border-right: solid #ffffff 1px;
  background: rgba(0, 0, 0, 0.5) url(../imgs/back-to-top/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */

  visibility: visible;
  opacity: 1;
  /* Transitions Background */

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */

  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  /* Transitions Background */

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 15px;
    bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    width: 60px;
    bottom: 0;
  }
}
/*--------------- BACK TO TOP BUTTON -------------
-----------------------------------------------*/
/*----------------------------------------------
/
/
/
/                Portfolio Page
/
/
/
-----------------------------------------------*/

.portfolio-header {}
/*---------  COLUMN+GRID STRUCTURE  -------------
-------------------------------------------*/

#portfolio-wrapper {
  margin-top: 40px;
}

#portfolio-work ul li {
  float: left;
  display: block;
  overflow: hidden;
}

#portfolio-work .col-left {
  width: 49.75%;
  float: left;
  margin-right: .25%;
  position: relative;
}

#portfolio-work .col-right {
  width: 49.75%;
  float: right;
  margin-left: .25%;
}

#portfolio-work .col-half.left {
  width: 49.5%;
  float: left;
  margin-bottom: 1%;
  margin-right: 0;
  overflow: hidden;
}

#portfolio-work .col-half.right {
  width: 49.5%;
  float: right;
  margin-bottom: 1%;
  margin-right: 0;
}

#portfolio-work .col-half:last-child {
  margin-right: 0%;
}

#portfolio-work .col-full {
  width: 100%;
  margin-bottom: 1%;
  float: left;
  position: relative;
}
/*---------  COLUMN+GRID STRUCTURE  -------------
-------------------------------------------*/
/*----------------------------------------------
/
/
/
/                Work Pages
/
/
/
-----------------------------------------------*/

.top-work-spacer {
  height: 75px;
  padding: 0;
  display: block;
}

#work {
  max-width: 1450px;
  margin: 0 auto -135px;
}

.work-detail {
  position: fixed;
  top: 10px;
  z-index: 20;
  max-width: 28%;
  height: 100%;
  float: left;
}

.work-detail-content {
  position: relative;
  max-width: 350px;
  padding: 0 20px 0 40px;
  top: 100px;
}

.work-detail-content h2 {
  margin-bottom: 0;
}

.work-detail-content h3 {
  margin-top: 10px;
  margin-bottom: 45px;
  color: #797979;
  line-height: 140%;
}

.work-detail-content > p {
  margin: 20px 0;
}

.work-detail-content a p {
  margin: 40px 0;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 0.2em;
  font-size: .65em;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

.work-detail-content a {
  color: #767676;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: #acacac solid 1px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.work-detail-content a:hover {
  color: #000;
  border-bottom: #000000 solid 1px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.work-view {
  width: 72%;
  height: 100%;
  display: block;
  float: right;
}

.work-view-content {
  display: block;
  margin-top: 0;
  height: 100%;
  padding: 20px 40px 140px 20px;
}

.work-view-content img {
  display: block;
  margin-bottom: 10px;
}

.work-view-content .two-col {
  margin-right: 1.5%;
  width: 49.2%;
}

.work-view-content .last-in-row {
  margin-right: 0;
}

.fluidbox-wrap {
  opacity: 1;
}

.fluidbox-wrap:hover {}
/*----------------------------------------------
/
/
/
/                CV / RESUME
/
/
/
-----------------------------------------------*/

#resume {
  max-width: 900px;
  margin: 80px auto 0;
}

#profile-imgs {
  margin: 0 auto;
  width: 505px;
}

.profile {
  position: relative;
  width: 250px;
  display: inline;
  margin: 0 auto;
}
/*----------------------------------------------
/
/
/
/                Media Queries
/
/
/
-----------------------------------------------*/
/* Mobile-ish ----------- */

@media only screen and (max-width: 768px) {
  header,
  .site-header {
    background-color: rgba(0, 0, 0, .9);
    z-index: 150;
    position: fixed;
    top: 0;
    bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    border-bottom: none;
  }
  header {
    transition: .25s ease-in-out;
  }
  nav {
    padding: 25px 0 15px 0;
    width: 100%;
  }
  .nav-up {
    transition: top .25s ease-in-out;
    top: -40px;
  }
  .nav-down {
    transition: top .25s ease-in-out;
  }
  nav a {
    color: #fff;
    font-size: .75em;
  }
  nav a:hover {
    color: #fff;
  }
  nav li {
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .dark {
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .sticky-expand {}
  .sticky-expand nav a {}
  nav a:hover {}
  #burger-button {
    cursor: pointer;
    width: 27px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .menu-icon {
    position: relative;
    display: inline-block;
    width: 100%;
    text-indent: -999px;
  }
  .border-icon {
    height: 0;
    padding: 2px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .border-icon:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    border-top: 2px solid #fff;
  }

  #contact .left, #contact .right  {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 550px) {
  /* Global Styles */

  .intro {
    background-image: url(../imgs/home-page-img/woods-500px.jpg);
  }
  .intro {
    z-index: 0;
    position: absolute;
    height: 100%;
  }
  .space {
    /* This pushes down the main content to reveal the background img */

    height: 105%;
  }
  h1 {
    letter-spacing: 34px;
  }
  @media only screen and (max-width: 400px) {
    h1 {
      letter-spacing: 16px;
      font-size: 1.2em;
    }
    h2 {
      font-size: 1.05em;
    }
  }
  .skew-container {
    margin-top: -47px;
  }
  .three-col {
    width: 100%;
    margin-top: 20px;
  }
  .four-col {
    width: 48%;
  }
  .social-icons {
    margin-bottom: 80px;
  }
  /* -------- Main Content Sections --------- */
  /* About Section */

  #about {
    padding: 85px 0 0;
  }
  #about .content {
    margin-top: 40px;
  }
  /* What I Do Section */

  #what-i-do {
    padding: 75px 0;
  }
  #what-i-do > div:nth-child(2) > div:nth-child(2) {
    margin-right: 0;
  }
  #what-i-do .two-col {
    width: 100%;
  }
  #what-i-do .two-col > p:nth-child(2) {
    margin-top: 20px;
  }
  /* Portfolio Section */

  #portfolio > .content {
    display: none;
  }
  #portfolio > div.tabs > ul > li {
    /* width: 30px; */

    margin: 0;
  }
  #portfolio ul.tab-links {
    width: 60%;
    /* Change back to 100%*/
  }
  #portfolio ul li {
    width: 49.5%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  @media only screen and (max-width: 400px) {
    #portfolio ul li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1%;
    }
    #portfolio .tab-links > li {
      width: 50%;
    }
  }
  #portfolio ul li:nth-child(3) {
    margin-right: 1%;
  }
  #portfolio ul li:nth-child(2),
  #portfolio ul li:nth-child(4) {
    margin-right: 0;
  }
  /* Like Me Section */

  #like-me {
    padding: 50px 0 40px;
  }
  #like-me .like-me-content {
    width: 100%;
    margin: 0px auto 48px auto;
  }
  #like-me .button {
    float: none;
    display: block;
    margin: 20px auto;
  }
  /* Why Section */

  #why {
    padding-top: 125px;
    padding-bottom: 100px;
  }
  #why > .row div {
    max-width: 400px;
    margin: 20px auto !important;
  }
  #why .three-col {
    width: 100%;
    float: none;
    margin: 0;
  }
  #why > div:nth-child(3) > div:nth-child(1) {
    margin-top: 0 !important;
  }
  #why .content {
    padding: 0;
    margin-top: 0;
  }
  #why div > p {
    text-align: center;
  }
  /* Brands I've Worked With Section */

  #brands {
    padding: 100px 20px 60px 20px;
  }
  #brands .content {
    margin-top: 0;
  }
  #brands > div .three-col {
    width: 50%;
    height: 150px;
    margin: 0;
  }
  @media only screen and (max-width: 400px) {
    #brands img {
      width: 110px;
    }
    #brands > div .three-col {
      height: 110px;
    }
  }
  /* Contact Section */

  #contact {
    padding-top: 100px;
    padding-bottom: 25px;
  }
  #contact-form h2 {
    margin-bottom: 40px;
  }
  #contact-info {
    width: 253px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  #contact-info #phone-number,
  #contact-info #address-info,
  #contact-info #email-info {
    width: 100%;
  }
  #contact-info #email-info {
    margin-top: 30px;
  }
  #contact-form > label.left,
  #contact-form > label.right {
    float: none;
  }
  input,
  textarea {
    width: 95%;
    padding: 10px;
  }
  .sendButton {
    width: 100%;
    margin: 0;
    float: none;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 40px
  }
  #success {
    padding-top: 20%;
  }
  #success h1 {
    font-size: 20;
  }
  #success h2 {
    font-size: 13px;
    margin-bottom: 40px;
    line-height: 1.25em;
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .intro {
    background-image: url(../imgs/home-page-img/woods-800px.jpg);
    z-index: 0;
    position: absolute;
    height: 110%;
  }
  .space {
    /* This pushes down the main content to reveal the background img */

    height: 100%;
  }
  /* About Section */

  @media only screen and (max-width: 730px) {
    .three-col {
      width: 100%;
      margin-top: 20px;
    }
  }
  /* What I Do Section */

  #what-i-do > div .three-col {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  /* Why Section */

  #why h2 {
    margin-bottom: 80px
  }
  #why .three-col {
    margin: 0 2.5%;
    width: 45%;
    margin-bottom: 20px;
  }
  @media (min-width: 551px) and (max-width: 600px) {
    .four-col {
      width: 48%;
    }
  }
  #why > div:nth-child(3) > div:nth-child(1) {
    margin-top: 0 !important;
  }
  #why .content {
    padding: 0;
    margin-top: 0;
  }
  #why div > p {
    text-align: center;
  }
  /* Brands I've Worked With Section */

  #brands {
    padding: 100px 20px 60px 20px;
  }
  #brands .content {
    margin-top: 70px;
  }
  @media (min-width: 551px) and (max-width: 600px) {
    #brands > div .three-col {
      width: 50%;
      height: 150px;
      margin: 0;
    }
    #brands img {
      height: 120px;
    }
  }
  /* Contact Section */

  #contact {
    padding-top: 100px;
    padding-bottom: 25px;
    max-width: 500px;
    margin: 0 auto;
  }
  #contact-form h2 {
    margin-bottom: 40px;
  }
  #contact-info {
    width: 253px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  #contact-info #phone-number,
  #contact-info #address-info,
  #contact-info #email-info {
    width: 100%;
  }
  #contact-info #email-info {
    margin-top: 30px;
  }
  #contact-form > label.left,
  #contact-form > label.right {
    float: none;
  }
  input,
  textarea {
    width: 95%;
    padding: 10px;
  }
  .sendButton {
    width: 100%;
    margin: 0;
    float: none;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 40px
  }
}

@media (min-width: 768px) {
  #contact-info #phone-number {
    width: 29%;
  }
  #contact-info #address-info {
    width: 39%;
  }
  #contact-info #email-info {
    width: 27%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    background-image: url(../imgs/home-page-img/woods-800px.jpg);
    z-index: 0;
    position: absolute;
    height: 110%;
  }
  .space {
    /* This pushes down the main content to reveal the background img */

    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 826px) {}
/* -------- Main Content Sections --------- */
/* -------- Work Detail Page --------- */

@media only screen and (max-width: 830px) {
  .work-detail {
    max-width: 100%;
    margin-bottom: 30px;
    position: relative;
    top: -77px;
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
  }
  .work-detail-content {
    padding-right: 20px;
  }
  .work-view {
    position: relative;
    width: 100%;
    display: block;
    z-index: 0;
  }
  .work-detail-content {
    max-width: 100%;
    padding: 0 20px;
  }
  .work-view-content {
    padding: 0 20px 140px;
  }
  @media only screen and (max-width: 550px) {
    .top-work-spacer {
      height: 40px;
    }
    .work-view-content .two-col {
      width: 100%;
    }
    .work-view-content {
      padding-left: 0;
      padding-right: 0;
    }
    .work-view-content img {
      margin-bottom: 10px;
    }
  }
}
/* -------- Work Detail Page --------- */
/* Desktops and laptops ----------- */

@media only screen and (min-width: 1025px) {
  .intro {
    background-image: url(https://s3.amazonaws.com/mscottjones.co.content/woods-2000px.jpg);
  }
}
